<div class="dash1-container">
  <div class="dash1-dash1">
    <div class="dash1-footer">
      <div class="dash1-group39545">
        <span class="dash1-text"><span>Terms Of Use</span></span>
        <span class="dash1-text002"><span>Privacy Policy</span></span>
        <span class="dash1-text004"><span>Don’t Sell My Info</span></span>
        <span class="dash1-text006"><span>Community Policy</span></span>
        <span class="dash1-text008"><span>Help Center</span></span>
      </div>
      <div class="dash1-frame1">
        <span class="dash1-text010">
          <span>©2023 Community Network Analytics. PrismX, Inc..</span>
        </span>
      </div>
    </div>
    <div class="dash1-group39751">
      <div class="dash1-top-header">
        <img alt="Rectangle108I102" src class="dash1-rectangle108" />
        <div class="dash1-group39574">
          <img alt="image7I102" src class="dash1-image7" />
        </div>
        <div class="dash1-group39573">
          <div class="dash1-frameiconbellnotification">
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-afrx.svg"
              class="dash1-vector"
            />
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-cndc.svg"
              class="dash1-vector01"
            />
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-kd34.svg"
              class="dash1-vector02"
            />
          </div>
          <div class="dash1-frameiconquestionmarkcircle">
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-ff9.svg"
              class="dash1-vector03"
            />
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-456r.svg"
              class="dash1-vector04"
            />
            <img
              alt="VectorI102"
              src="/assets/external/vectori102-rp8i.svg"
              class="dash1-vector05"
            />
          </div>
          <div class="dash1-group39571">
            <div class="dash1-image">
              <img alt="Ellipse68I102" src class="dash1-ellipse68" />
              <img alt="Ellipse69I102" src class="dash1-ellipse69" />
              <img
                alt="fabiancentenoHkavt2MAOEcunsplash1I102"
                src
                class="dash1-fabiancenteno-hkavt2ma-ecunsplash1"
              />
            </div>
            <div class="dash1-frameiconnavarrowdown">
              <img
                alt="VectorI102"
                src="/assets/external/vectori102-svot.svg"
                class="dash1-vector06"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="dash1-group39750">
        <img alt="image121026" src class="dash1-image12" />
      </div>
    </div>
    <div class="dash1-frame39753">
      <div class="dash1-frame39747">
        <div class="dash1-group39718">
          <img
            alt="Vector1027"
            src="/assets/external/vector1027-7ju.svg"
            class="dash1-vector07"
          />
        </div>
        <div class="dash1-group39719">
          <span class="dash1-text012"><span>30,000</span></span>
          <span class="dash1-text014"><span>Connections</span></span>
          <span class="dash1-text016">
            <span>No new accelerator added in Jan</span>
          </span>
          <img
            alt="Line361027"
            src="/assets/external/line361027-i1n4.svg"
            class="dash1-line36"
          />
        </div>
      </div>
      <img alt="Rectangle123231027" src class="dash1-rectangle12323" />
      <div class="dash1-frame39748">
        <div class="dash1-group397181">
          <img
            alt="Vector1028"
            src="/assets/external/vector1028-hruk.svg"
            class="dash1-vector08"
          />
        </div>
        <div class="dash1-group397191">
          <span class="dash1-text018"><span>200</span></span>
          <span class="dash1-text020"><span>Industries</span></span>
          <span class="dash1-text022">
            <span>No new Industry added in Jan</span>
          </span>
          <img
            alt="Line361028"
            src="/assets/external/line361028-d12.svg"
            class="dash1-line361"
          />
        </div>
      </div>
      <img alt="Rectangle123241028" src class="dash1-rectangle12324" />
      <div class="dash1-frame39749">
        <div class="dash1-group397182">
          <img
            alt="Vector1029"
            src="/assets/external/vector1029-94dv.svg"
            class="dash1-vector09"
          />
        </div>
        <div class="dash1-group397192">
          <span class="dash1-text024"><span>15,000</span></span>
          <span class="dash1-text026"><span>Companies</span></span>
          <span class="dash1-text028">
            <span>No new company added in Jan</span>
          </span>
          <img
            alt="Line361029"
            src="/assets/external/line361029-bf2u.svg"
            class="dash1-line362"
          />
        </div>
      </div>
    </div>
    <div class="dash1-group2"><span class="dash1-text030"></span></div>
    <div class="dash1-group70"><span class="dash1-text031"></span></div>
    <img alt="Rectangle11021" src class="dash1-rectangle1" />
    <span class="dash1-text032"><span>All Communities</span></span>
    <span class="dash1-text034"><span>All Locations</span></span>
    <span class="dash1-text036"><span>All Industries</span></span>
    <div class="dash1-group39752"><span class="dash1-text038"></span></div>
    <div class="dash1-group39753"><span class="dash1-text039"></span></div>
    <img alt="Rectangle123761021" src class="dash1-rectangle12376" />
    <span class="dash1-text040"><span>All Communities</span></span>
    <span class="dash1-text042"><span>All Locations</span></span>
    <span class="dash1-text044"><span>All Industries</span></span>
    <img alt="Rectangle123751021" src class="dash1-rectangle12375" />
    <img alt="Rectangle261021" src class="dash1-rectangle26" />
    <div class="dash1-group39625">
      <img alt="Rectangle221021" src class="dash1-rectangle22" />
      <span class="dash1-text046"><span>Community Strength</span></span>
      <span class="dash1-text048"><span>Upcoming Events</span></span>
      <img alt="Rectangle261021" src class="dash1-rectangle261" />
      <span class="dash1-text050"><span>Weak</span></span>
      <span class="dash1-text052"><span>Medium</span></span>
      <span class="dash1-text054"><span>Strong</span></span>
      <span class="dash1-text056"><span>Very Strong</span></span>
      <img alt="Rectangle271021" src class="dash1-rectangle27" />
      <img alt="Rectangle281021" src class="dash1-rectangle28" />
      <img alt="Ellipse6551021" src class="dash1-ellipse655" />
      <img alt="Ellipse6561021" src class="dash1-ellipse656" />
      <img alt="Ellipse6571021" src class="dash1-ellipse657" />
      <img alt="Ellipse6581021" src class="dash1-ellipse658" />
      <span class="dash1-text058"><span>Alumni</span></span>
      <img alt="Ellipse6591021" src class="dash1-ellipse659" />
      <img alt="Ellipse6601021" src class="dash1-ellipse660" />
      <img alt="Ellipse6611021" src class="dash1-ellipse661" />
      <img alt="Ellipse6621021" src class="dash1-ellipse662" />
      <img alt="Rectangle291021" src class="dash1-rectangle29" />
      <img alt="Ellipse6631021" src class="dash1-ellipse663" />
      <img alt="Ellipse6641021" src class="dash1-ellipse664" />
      <img alt="Ellipse6651021" src class="dash1-ellipse665" />
      <img alt="Ellipse6661021" src class="dash1-ellipse666" />
      <img alt="Rectangle311021" src class="dash1-rectangle31" />
      <img alt="Ellipse6671021" src class="dash1-ellipse667" />
      <img alt="Ellipse6681021" src class="dash1-ellipse668" />
      <img alt="Ellipse6691021" src class="dash1-ellipse669" />
      <img alt="Ellipse6701021" src class="dash1-ellipse670" />
      <img alt="Rectangle321021" src class="dash1-rectangle32" />
      <img alt="Ellipse6711021" src class="dash1-ellipse671" />
      <img alt="Ellipse6721021" src class="dash1-ellipse672" />
      <img alt="Ellipse6731021" src class="dash1-ellipse673" />
      <img alt="Ellipse6741021" src class="dash1-ellipse674" />
      <img alt="Rectangle331021" src class="dash1-rectangle33" />
      <img alt="Rectangle341021" src class="dash1-rectangle34" />
      <img alt="Ellipse6751021" src class="dash1-ellipse675" />
      <img alt="Ellipse6761021" src class="dash1-ellipse676" />
      <img alt="Ellipse6771021" src class="dash1-ellipse677" />
      <img alt="Ellipse6781021" src class="dash1-ellipse678" />
      <img alt="Ellipse6791021" src class="dash1-ellipse679" />
      <img alt="Ellipse6801021" src class="dash1-ellipse680" />
      <img alt="Ellipse6811021" src class="dash1-ellipse681" />
      <img alt="Ellipse6821021" src class="dash1-ellipse682" />
      <span class="dash1-text060"><span>Student Success</span></span>
      <span class="dash1-text062">
        <span>
          Partner
          <span [innerHTML]="rawqv1e"></span>
        </span>
      </span>
      <span class="dash1-text064"><span>Faculty</span></span>
      <span class="dash1-text066"><span>Placement</span></span>
      <span class="dash1-text068"><span>Career Design</span></span>
      <span class="dash1-text070"><span>Sustainability</span></span>
    </div>
    <div class="dash1-group24">
      <div class="dash1-group23">
        <div class="dash1-group19"><span class="dash1-text072"></span></div>
        <img alt="Rectangle621021" src class="dash1-rectangle62" />
        <span class="dash1-text073"><span>Speaker Series</span></span>
        <span class="dash1-text075">
          <span>Feb 14th, 2023   10:00 AM</span>
        </span>
        <span class="dash1-text077"><span>Boston Public Library</span></span>
      </div>
      <img
        alt="Vector1021"
        src="/assets/external/vector1021-4ov.svg"
        class="dash1-vector10"
      />
      <span class="dash1-text079"><span>Prof. Peter Brews</span></span>
      <span class="dash1-text081"><span>RSVP Received : 200</span></span>
    </div>
    <div class="dash1-group231">
      <div class="dash1-group191"><span class="dash1-text083"></span></div>
      <img alt="Rectangle621021" src class="dash1-rectangle621" />
      <span class="dash1-text084"><span>Conference</span></span>
      <span class="dash1-text086"><span>Startup Onboarding</span></span>
      <span class="dash1-text088"><span>RSVP</span></span>
      <span class="dash1-text090"><span>Feb 14th, 2023</span></span>
    </div>
    <div class="dash1-group25">
      <div class="dash1-group232">
        <div class="dash1-group192"><span class="dash1-text092"></span></div>
        <img alt="Rectangle621021" src class="dash1-rectangle622" />
        <span class="dash1-text093"><span>Meeting</span></span>
        <span class="dash1-text095"><span>Board Members Meeting</span></span>
        <span class="dash1-text097"><span>Feb 20th, 2023</span></span>
        <span class="dash1-text099"><span>IS Office</span></span>
      </div>
      <img
        alt="Vector1022"
        src="/assets/external/vector1022-sbu.svg"
        class="dash1-vector11"
      />
      <span class="dash1-text101"><span>RSVP Received : 50</span></span>
    </div>
  </div>
</div>
